files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDozCCAougAwIBAgIUF0Dr4Kansrj9BPPtqQoFDe38W9swDQYJKoZIhvcNAQEL
      BQAwejELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEUMBIGA1UEBwwL
      U3VuIFByYWlyaWUxFzAVBgNVBAoMDk1pc2ZpdCBGZWxpbmVzMSgwJgYJKoZIhvcN
      AQkBFhlhamZhaXRAbWFkaXNvbmNvbGxlZ2UuZWR1MB4XDTI1MDQyMjE4NTYzMFoX
      DTI2MDQyMjE4NTYzMFowejELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNp
      bjEUMBIGA1UEBwwLU3VuIFByYWlyaWUxFzAVBgNVBAoMDk1pc2ZpdCBGZWxpbmVz
      MSgwJgYJKoZIhvcNAQkBFhlhamZhaXRAbWFkaXNvbmNvbGxlZ2UuZWR1MIIBIjAN
      BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA9iRug+QFT0BW+gBjZ/SO6N7t7fWT
      yNZtbaiA+liRD+2MfyWqyXWb4mWpaVyhPs+h9oK9iLxpl1NjqQGsHvjsj6VlPTlr
      hd8lk39fH92puUpl6SexkTAwSBjZdA80TkfRsDMO9ubIdg/wf3rdLuGckBhr0hj6
      iHEXiX9O6KFMHlQO6oFqExwFHqNC+JmXrstJdB8lK17JsKYQhB5E+aBuYx/6Vs7O
      sZJdnRS3rVIP67/ZOhbAXuOdxX1/UTZ6wVZtleP47qfL9pnscTuUoizjTqHoNWXb
      rej7dlhci7s1HS2I3RDWfI3IS1kHAOitrx0FpSifko8bcm5PyyGuaAH7nwIDAQAB
      oyEwHzAdBgNVHQ4EFgQUWI+DDJlBrpDtYP9KKIi3lv+mpOEwDQYJKoZIhvcNAQEL
      BQADggEBACCQaDDF+1qha9D+5yoetkklxd8Id/U+2RFeXD6lHBNZUTQV+lFN+Dlv
      YHkBKNBPDp5uceugzEFMa/1yQDXxpVDhi0AU65zj4MdZZWn/bT7luOoC1yddmIW+
      li2WLIaE6+1T3+GgOPZ7/6jtfGeWKYWw1J8TUjF6EVTJUWAR93vAywYOZyj5fG4b
      zyfdOFqmymL3GdSDHSgvjkvim9bKB9SxhSUjxd/ctV7F01RtZyltUS9piHKmUoON
      nzy3lpo2W4qRdivbqjs5uuxc+d3G6N9V6v2gMiaRX0JJxjRsE6P7f7TwpuqYI8Qe
      3c4Fyun4GN6BnT8SItsknWXETj2qbPY=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQD2JG6D5AVPQFb6
      AGNn9I7o3u3t9ZPI1m1tqID6WJEP7Yx/JarJdZviZalpXKE+z6H2gr2IvGmXU2Op
      Aawe+OyPpWU9OWuF3yWTf18f3am5SmXpJ7GRMDBIGNl0DzROR9GwMw725sh2D/B/
      et0u4ZyQGGvSGPqIcReJf07ooUweVA7qgWoTHAUeo0L4mZeuy0l0HyUrXsmwphCE
      HkT5oG5jH/pWzs6xkl2dFLetUg/rv9k6FsBe453FfX9RNnrBVm2V4/jup8v2mexx
      O5SiLONOoeg1Zdut6Pt2WFyLuzUdLYjdENZ8jchLWQcA6K2vHQWlKJ+Sjxtybk/L
      Ia5oAfufAgMBAAECggEAFYRoZgtsMwB9YGJ7TigKlcazOjIIwGEnJ/oEhTelcSTp
      7mch3HWopTlDS4yHV6EGcbD9/HLE4+LGAg0jrLUQo2gPU+a6nkI8TzFIMaMKuY6m
      HqRtLE0jOcV0vcwWEJSZR8cKEyebaF+K8LuSLVoX4F+tWt/H7iu9jBpyEMahvr7P
      h0MRkR93pzlcxacA07yMtIkWDbeOUxLMu4RlWqjvJCoc0miWjqHatm9qXVVbjDcm
      k+F2kamWena7EkPHgJJX6OvH7t82M4qvRLNroch3NgpPE999Ei3OGtkkv3X/fsCA
      FvIP9f2GO1pIeRhraDK9CJ7Og52QryXF2gfHgG54MQKBgQD93SJZeqkhJ+FlcCvG
      Ys5Ek8hofq0ID62BXqNH41Tas1kt92fw+23EVyNC7nB6SnK0aSod3dT8bXCln36M
      44ILgvNJY78QtvVNggivSA1HVNrPVFUR7ERHZnDcgMQ+52mDLzUClUxunsDk3A/Y
      TWhMzjz2Nn4pd9uBjNAQJhtGsQKBgQD4NqoDJDgkDOAQJoXKofUN8YLmGwhTWfig
      PMJ1LqTmha1dXgnbhokz/hlHUCTYC5wHj1uDBwf3TPD5jeEn/5Kz40an1jIIU44Q
      VsSsCjy8E5dDEhzHhOoJOSi1Ou02sQXPDh+5m9xAW3AwZi4XPag+qnwdbiIHKt65
      W6AyxOqbTwKBgENsffkB6PWTX/vPBPFVwK7aCTonmtEvSMe5WOh46kqDo8Xflc2d
      GZQyCH14UotIRpq/652vEyhP8MEsUTIeIqXoC7GMOmy4CwKg7KmRG2W8lbjHDykJ
      dUD5ZjRKRtTmJVHgMdYTzQ78PwMJp3Ota2wqwmoqIuvkl3oa6g+/7zKhAoGAIul9
      bEex5dAxy9O/ScsR7s4jfT4cI60p/U/OgjD3XL08rz9E363Cqp946sDpDcJERgPx
      +TIJ+szFsDQ2kSuvdMHo9D56dxVZjA7IRvKBrGqNAhAQIDgfuwBhK2yIZQLtMDxq
      Ve8IQb0awJP+s6Imgfn0zybofl2XSjcLB1kPLp0CgYEAg6dVz2Xli+RXVeGtnMmF
      01cMbFPSXceNN1lG8cnJyivFM0V1y6gieOY5S/MC/itkioUe7sMM81S20o163dWx
      qD4Tghk92WoUDFOAPKSL2iOPbJzuFUcbYfdvD+Jk5w8ZNXcoAvy9V48YA1IecYld
      9XM3t1oalRiK4Ai9G3wztEg=
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart